.myapp{
    background-image: url('../../images/NavBg1.png');
}

/* .graph{
    z-index: 1;
}
.profile{
z-index: inherit;
}
.calendar{
    z-index: inherit;
} */
.nav_girl{
    /* background-image: url('../../images/nav_girl.png'); */
}